:root {
    /* https://css-tricks.com/snippets/css/system-font-stack/ */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: min(max(1rem, 4vw), 19px);
}

/*************************
Global Styling
**************************/
main {
    flex-basis: 0;
    flex-grow: 999;
    padding: 0 3vw;
}

main #content {
    max-width: 55ch;
}

header {
    display: flex;
    flex-grow: 1;
    margin-top: 1vh;
    padding: 0 3vw;
    text-align: left;
    font-weight: 700;
}

header>nav>a,
header>nav>a:visited,
header>nav>a:link {
    width: fit-content;
    margin-bottom: 1px;
    padding: 0 1ch;
    text-decoration: underline;
    color: black;
}

header>nav>a:hover,
header>nav>a:focus,
header>nav>a:active {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    background-color: white;
}

@media screen and (min-width: 768px) {
    main {
        position: absolute;
        margin-left: 300px;
    }

    header {
        position: fixed;
        margin-top: 15vh;
        padding: 0;
    }

    header>nav {
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 3ch;
    }

    header>nav>a,
    header>nav>a:visited,
    header>nav>a:link {
        font-size: 1.5em;
        padding: 0;
        text-decoration: none;
    }
}

/*************************
Posts/Projects List
**************************/
#posts>ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.postListTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.postListTitle>a,
.postListTitle>a:visited,
.postListTitle>a:link {
    color: black;
}

.postListDescription {
    padding-left: 2ch;
}

.postListDateAndTags {
    font-size: 0.75rem;
}

#posts>ul>li {
    margin-top: 3ch;
}

/*https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html*/
#posts>li:before {
    /* 1 */
    content: "\200B";
    /* 2 */
    position: absolute;
}

.tag {
    margin-right: 0.5ch;
    text-decoration: underline;
}

/*************************
Post styling
**************************/
a,
a:visited,
a:link {
    color: #005ac0;
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    color: #003169;
    background-color: #c7e1ff;
}

img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}

pre {
    padding: 1rem;
    max-height: 100ch;
    overflow: auto;
    tab-size: 4;
    -moz-tab-size: 4;
    font-size: 0.5em;
}

blockquote {
    margin: 0;
    padding-left: 1.33em;

    border-left: 3px solid #7a7a7a;

    font-style: italic;
    text-align: left;
}